/* common css */

*{
    margin:0;
    padding:0;
}




/* header css */

#header{

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 150px;
    background-color: rgb(71, 71, 71);
}

.navbar ul{
    display: flex;
    gap: 40px;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    line-height: 5rem;
}


/* banner css */
#banner{
    height: 100vh;
    background-image: url('../asset/image/background.jpg') ,
    linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.banner-content h1{
    font-size: 86px;
    font-weight: 900;
    color: white;
}

.banner-content h1 span{
    color: red;
}

.banner-content p{
    font-size: 22px;
    color: white;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}

.banner-content .banner-btn-wrapper{
    margin-top: 20px;
}

.banner-content .btn{
    padding: 15px 30px;
    border: none;
    text-transform: uppercase;
}

.banner-content .btn-discover{
    background-color: red;
    color: #fff;
    margin-right: 20px;
}

.banner-content .btn-hire{
    background-color: #fff;
}




/* service css */

#services{
    height: 100vh ;
    background-image: url('../asset/image/footer-bg.png'),
    linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding-bottom: 100px;
}
.service-box,
.service-content{
    width: 50%;
}

.service-content{
    color: #fff;
}

.service-content .service-list-btn{
    background-color: white;
    color: gray;
    border-radius: 25px;
    font-size: 16px;
    padding: 15px 35px;
    text-decoration: none;
    font-family: sans-serif;
    display: inline-block;
    margin-bottom: 10px;
}

.service-content h1{
    font-size: 40px;
    font-weight: bold;
    color: rgb(190, 207, 208);
    margin-top: 8px;
    margin-bottom: 8px;
}

.service-content h1 span{
    color: red;
    margin-top: 100px;
}

.service-content P{
    width: 75%;
    font-size: 20px;
    color: rgb(190, 207, 208);
    margin-bottom: 20px;
}

.service-content ol li {
    font-size: 18px;
    color:rgb(190, 207, 208) ;
}

.profile-more-wrapper{
    margin-top: 20px;
    display: flex;
    max-width: 450px;
    justify-content: space-between;
    align-items: center;
}

.service-profile{
    display: flex;
    gap: 10px;
    align-items: center;
    border-right: 1px solid red;
    padding-right: 80px;
}

.service-profile img{
    border-radius: 100%;
    width: 70px;
}

.more-details-btn{
    background: #fff;
    color: red;
    text-transform: uppercase;
    padding: 15px 35px;
    border-radius: 25px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}


.service-box-wrapper{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-box-item{
    background: #fff;
    width: 194px;
    height: 194px;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
}

.service-box-item img{
    width: 100px;
    padding: 20px;
}


/* appoinment css */

#appoinment{
    width: 75%;
    margin: 0 auto;
    padding: 15px;
    background: red;
    border-radius: 10px;
    margin-top: -75px;
}

.ap-content-wrapper{
    display: flex;
    gap: 20px;
    align-items: center;
    color: #fff;
}

.ap-content-call{
    display: flex;
    align-items: center;
    border-right: 1px solid black;
    padding-right: 20px;
}

.ap-content-call img{
    width: 80px;
    padding: 15px;
}

.ap-content-desc p{
    line-height: 1.5rem;
}

.ap-content-btn{
    background: #fff;
    padding: 16px 50px;
    border-radius: 35px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

.ap-content-btn a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: sans-serif;
}


/* blog css */

#blog{
    padding: 50px 0px;
}

.blog-title{
    text-align: center;
}

.blog-title h2{
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
}

.blog-title h2 span{
    color: red;
}

.blog-title p{
    width: 50%;
    margin: 0 auto;
    font-size: 22px;
}

.blog-item-wrapper{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin:40px auto 0px;
}

.blog-item{
    width: 300px;
    height: 400px;
    box-shadow: 0px 0px 15px grey;
    border-radius: 5px;
}

.blog-item img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.blog-box-content{
    padding: 20px;
}

.blog-box-content h2{
    font-size: 22px;
    margin-bottom: 10px;
    color:rgb(54, 53, 53);
}

.blog-box-content p{
    font-size: 17px;
    color: rgb(76, 72, 72);
}



/* footer css */

#footer{

    padding-top: 50px;
    background-image: url('/asset/image/footer-bg.png'),
    linear-gradient(to bottom , rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    color: #fff;
}

.foot-content-wrapper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding-bottom: 100px;
}

.foot-item-one{
    width: 25%;
}

.foot-item-one p{
    line-height: 1.5rem;
    margin-bottom: 20px;
    margin-top: 10px;
}

.foot-item-one .foot-icon-wrapper{
    display: flex;
    gap: 25px;
}

.foot-item-one .foot-icon-wrapper i{
    font-size: 22px;
}


.foot-item h3{
    margin-bottom: 25px;
}

.foot-item ul li{
    list-style: none;
}

.foot-item ul li a{
    color: #fff;
    text-decoration: none;
    line-height: 1.5rem;
}

.last-foot-item-list{
    margin-top: 10px;
}

.last-foot-item-list li{
    line-height: 1.5rem;
}

.copyright{
    text-align: center;
    padding: 15px;
}